<div class="login_body">
  <div id="container">
    <img src="assets/misc/ascb_logo.png" alt="ascb_logo" id="ascb_logo" class="mt-3">
    <div id="container_glass">
      <div class="row g-2 p-2">
        <div class="col-6 p-4 ">
           <img src="assets/misc/container_image_1.png" alt="image_1_enroll now" id="image_1">
        </div>
        <div class="col-6"><div class="row g-2">
          <div class="col-12" id="ascb_logo_container">
            <img src="assets/misc/70th_ascb_logo.png" alt="70th ascb logo">
          </div>

          <div class="col-12">
            <form action="" method="post">
              <div class="mb-2 pt-0">
                <label for="username" class="form-label"></label>
                <input type="text" name="username" id="username" placeholder="USERNAME" class="form-control font1 f-w500 input-shadow">
              </div>
              <div class="mb-3 pt-0">
                <label for="password" class="form-label"></label>
                <input type="password" name="password" id="password" placeholder="PASSWORD" class="form-control font1 f-w500 input-shadow">
              </div>
            </form>
          </div>
          <div class="col-12 content-center">
            <button type="submit" class="btn btn-primary" id="login_button">LOGIN</button>
          </div>
        </div></div>

      </div>
    </div>
  </div>
</div>
